
<section class="content-banner" ></section>
<section class="content">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<br>
	<br>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card-group mb-0">
					<div class="card p-4">
						<div class="card-body">
							<h1>Register</h1>
							<p class="text-muted">Register your account</p>
							<div class="input-group mb-3">
								<span class="input-group-addon"><i class="fa fa-user"></i></span>
								<input type="text" class="form-control" placeholder="Username">
                                
							</div>
                            <br>
							<div class="input-group mb-3">
								<span class="input-group-addon"><i class="fa fa-user"></i></span>
								<input type="text" class="form-control" placeholder="Username">
							</div>
                            <br>
							<div class="input-group mb-4">
								<span class="input-group-addon"><i class="fa fa-lock"></i></span>
								<input type="password" class="form-control" placeholder="Password">
							</div>
                            <br>
							<label for="">Select Location</label>
                            <br>
							<select class="input-group mb-4" name="" id="">
								
								<option value="">Nagpur</option>
								<option value="">Mumbai</option>
								<option value="">Pune</option>
								<option value="">Yavatmal</option>
								<option value="">Nashik</option>
								<option value="">Nanded</option>
							</select>
                            <br>
							<div class="row" >
								<div class="col-6">
									<button type="button" class="btn btn-primary px-4">   Register</button>
								</div>
								
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>

</section>

