.Groups {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Groups h1 {
    width: 100%;
    height: 200px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://content3.jdmagicbox.com/comp/ernakulam/w7/0484px484.x484.111205214031.v3w7/catalogue/flycatchers-tours-and-travels-pvt-ltd-palarivattom-ernakulam-travel-agents-47na7rr.jpg');
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Groups .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Groups .content h1 {
    font-weight: 900;
    font-size: 60px;
}

.Groups .content .search_item {
    width: 40%;
    padding: 50px;
}

.Groups .content .image {
    width: 40%;
    padding: 50px;
}

.Groups .content .image img {
    width: 500px;
}

.Groups .content .search_item .search input {
    width: 350px;
    height: 40px;
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 0px 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Groups .content .search_item .search button {
    width: 100px;
    height: 40px;
    border-radius: 30px;
    background-color: #00C2FF;
    color: white;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Groups .content .search_item .search .search_content {
    width: 100%;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Groups .content .search_item .search .search_content .box {
    width: 230px;
    border-radius: 10px;
    background-color: white;
    padding: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 10px;
}

.Groups .content .search_item .search .search_content .box .avatar {
    width: 100%;
    display: flex;
    margin: 7px 0px;
}

.Groups .content .search_item .search .search_content .box .avatar img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.Groups .content .search_item .search .search_content .box .avatar .info {
    margin: 0px 5px;
}

.Groups .content .search_item .search .search_content .box .avatar .info p {
    width: 35px;
    margin-top: -7px;
    font-size: 9px;
    background-color: #d4ffc5;
    padding: 2px 3px;
    border-radius: 7px;
    text-align: left;
}

.Groups .content .search_item .search .search_content .box .chat_add-to-group {
    width: 100%;
}

.Groups .content .search_item .search .search_content .box .chat_add-to-group a {
    margin: 0px 5px;
    text-decoration: none;
    padding: 3px 7px;
    background-color: #00C2FF;
    color: white;
    border-radius: 30px;
    font-size: 12px;
}

