<section class="content-banner"></section>
<section id="trip"  class="content">
<div class="Groups">
    <h1>PLAN A TRIP</h1>
    <div class="content">

        <div class="search_item">
            <div class="search">
                <input type="text" placeholder="Search friends...">
                <button type="submit">Search</button>
                <br>
                <div class="search_content">
                    <div class="box">
                        <div class="avatar">
                            <img src="https://us.123rf.com/450wm/a4ashishmishra/a4ashishmishra2008/a4ashishmishra200800144/154557490-woman-in-saari-wear-spectacle-portrait-photo.jpg?ver=6" alt="" srcset="">
                            <div class="info">
                                <h6>Ranjana Patil</h6>
                                <p>Friend</p>
                            </div>
                        </div>
                        <div class="chat_add-to-group">
                            <a href=""><i class="fa fa-comments" aria-hidden="true"></i> &nbsp; chat</a>
                            <a href=""><i class="fa fa-plus" aria-hidden="true"></i> &nbsp; Add to Group</a>
                        </div>
                    </div>

                    <div class="box">
                        <div class="avatar">
                            <img src="https://us.123rf.com/450wm/paulmaguire/paulmaguire1906/paulmaguire190600013/125210625-elderly-asian-indian-woman-sitting-alone-healthy-and-slim-appearance-may-also-depict-loneliness-or-d.jpg?ver=6" alt="" srcset="">
                            <div class="info">
                                <h6>Vinaya chavhan</h6>

                            </div>
                        </div>
                        <div class="chat_add-to-group">
                            <a href=""><i class="fa fa-comments" aria-hidden="true"></i> &nbsp; chat</a>
                            <a href=""><i class="fa fa-plus" aria-hidden="true"></i> &nbsp; Add to Group</a>
                        </div>
                    </div>

                    <div class="box">
                        <div class="avatar">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxtj7dahZ_h5rYjYedP7U_22OAUCbT0AC_-A&usqp=CAU" alt="" srcset="">
                            <div class="info">
                                <h6>Surbhi Singh</h6>
                                <p>Friend</p>
                            </div>
                        </div>
                        <div class="chat_add-to-group">
                            <a href=""><i class="fa fa-comments" aria-hidden="true"></i> &nbsp; chat</a>
                            <a href=""><i class="fa fa-plus" aria-hidden="true"></i> &nbsp; Add to Group</a>
                        </div>
                    </div>

                    <div class="box">
                        <div class="avatar">
                            <img src="https://image1.masterfile.com/getImage/NjMwLTAxMDc5NDQ4ZW4uMDAwMDAwMDA=ANtK8l/630-01079448en_Masterfile.jpg" alt="" srcset="">
                            <div class="info">
                                <h6>Shalini Tarkod</h6>
                                <p>Friend</p>
                            </div>
                        </div>
                        <div class="chat_add-to-group">
                            <a href=""><i class="fa fa-comments" aria-hidden="true"></i> &nbsp; chat</a>
                            <a href=""><i class="fa fa-plus" aria-hidden="true"></i> &nbsp; Add to Group</a>
                        </div>
                    </div>

                    <div class="box">
                        <div class="avatar">
                            <img src="https://i.pinimg.com/474x/4a/85/d6/4a85d6b08fba517ec99607709f760148.jpg" alt="" srcset="">
                            <div class="info">
                                <h6>Jaishree Tadas</h6>
                                <p>Friend</p>
                            </div>
                        </div>
                        <div class="chat_add-to-group">
                            <a href=""><i class="fa fa-comments" aria-hidden="true"></i> &nbsp; chat</a>
                            <a href=""><i class="fa fa-plus" aria-hidden="true"></i> &nbsp; Add to Group</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="image">
            <img src="./assets/img/Trip.png" alt="" srcset="">
        </div> -->

    </div>
</div>
</section>


