<section class="quick-search">
    <form class="quick-search-form">
        <select class="quick-search-form-control">
            <option>What are you lookig for?</option>
            <option>Hospitals</option>
            <option>Doctors</option>
            <option>Clinics</option>
        </select>
        <select class="quick-search-form-control">
            <option>Choose your nearest City !</option>
            <option>Pune</option>
            <option>Mumbai</option>
            <option>Nagpur</option>
            <option>Latur</option>
            <option>Sangli</option>
            <option>Satara</option>
            
        </select>
        <button class="quick-search-form-submit">
            <i class="fa fa-search"></i>
        </button>
    </form>
</section>